
<a href="/">Go Back</a>

<form action="create" method="post">

	<label>Ticks</label><input type="text" name="ticks" /><br>
	<label>Task Id</label><input type="text" name="task_id" /><br>
	<label>Note</label><input type="text" name="note" /><br>
	<input type="hidden" name="user_id" value="12345" />
	<input type="submit" value="Submit" />

</form>
