<a href="/create">Create New</a>

<table>

<tr>
	<th>ID</th>
	<th>Duration</th>
	<th>Note</th>
</tr>

<% @entries.each_with_index do |entry,i| %>
	<tr<%= ' class="alt"' if i%2==0 %>>
		<td><%= entry.id %></td>	  
		<td><%= entry.ticks %></td>
		<td><%= entry.note %></td>
	</tr>
<% end %>
</table>
